<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="fa-solid fa-square-h"></i>
      <div class="logo_name">Ruta del Valle</div>
    </div>
    <i class="fa-solid fa-bars" id="btn" (click)="onClick()"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="fa-solid fa-magnifying-glass bx-search" (click)="onClick()"></i>
      <input type="text" placeholder="Buscar... ">
      <span class="tooltipo">Buscador</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-gauge"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltipo">Dashboard</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-user-large"></i>
        <span class="links_name">Usuario</span>
      </a>
      <span class="tooltipo">Usuario</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-bell-concierge"></i>
        <span class="links_name">Recepción</span>
      </a>
      <span class="tooltipo">Recepción</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-bed"></i>
        <span class="links_name">Habitaciones</span>
      </a>
      <span class="tooltipo">Habitaciones</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-building"></i>
        <span class="links_name">Plantas</span>
      </a>
      <span class="tooltipo">Plantas</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-store"></i>
        <span class="links_name">Tienda</span>
      </a>
      <span class="tooltipo">Tienda</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-box-open"></i>
        <span class="links_name">Productos</span>
      </a>
      <span class="tooltipo">Productos</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-comment-dollar"></i>
        <span class="links_name">Pagos</span>
      </a>
      <span class="tooltipo">Pagos</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-users"></i>
        <span class="links_name">Clientes</span>
      </a>
      <span class="tooltipo">Clientes</span>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-gear"></i>
        <span class="links_name">Ajustes</span>
      </a>
      <span class="tooltipo">Ajustes</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="https://cdn.pixabay.com/photo/2017/12/01/08/02/paint-2990357_960_720.jpg" alt="profile">
        <div class="name_job">
          <div class="name">Usuario X</div>
          <div class="job">Administrador</div>
        </div>
      </div>
      <i class="fa-solid fa-arrow-right-from-bracket" id="log_out"></i>
    </div>
  </div>
</div>

<div class="home_content">
  <div class="text">Home Content</div>
</div>

<!-- script JS -->
<!-- <script>
  let btn = document.querySelector("#btn");
  let sidebar = document.querySelector(".sidebar");
  let searchBtn = document.querySelector(".bx-search");

  btn.onClick = function(){
    sidebar.classList.toggle("active");
  }
</script> -->
