/* .card{
    height: 50%;
    margin: 5% auto;
    background: #fff;
    position: relative;
}

.card-header{
    background: #121c3511;
    border-radius: 4px;
}

/*efecto sombra
.card::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background-image: linear-gradient(to right top,#4cc9f0,#ac46a1,#121c35,#4895ef) ;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    z-index: -1;
}

h5{
    text-align: center;
    margin: 10px auto;
}
.btn{
    font-size: 13px;
}
 */
 


.wrapper {
    margin: 5rem auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px 2px rgba(19, 28, 53, 0.25);

}

.wrapper .title{
    line-height: 90px;
    background: #131c35;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.wrapper form {
   padding: 30px 25px 25px 25px;

}

.wrapper form .own_row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .own_row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

.wrapper form .own_row input:focus{
    border-color: rgb(19, 28, 53);
    box-shadow: inset 0px 0px 2px 2px rgba(19, 28, 53, 0.25);
    
}

.wrapper form .own_row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    background: #131c35;
    border: 1px solid #131c35;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0px;
    background: #198754;
    border: 1px solid #198754;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper form .button input:hover{
    background: #157045; 

}





