<!-- {{ habitaciones | json}} -->
<div class="container mt-5">
  <h3 class="text-left">LISTADO DE HABITACIONES</h3>
  <div class="my-2 text-left">
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-2">
    <div class="col" *ngFor="let habitacion of habitaciones">
      <div class="card" [ngStyle]="{'background-color':getColorBody(habitacion.estado)}">
        <div class="card-body">
          <h5 class="card-title">Nro: {{habitacion.num_habitacion}}</h5>
          <p class="card-text">Habitación {{habitacion.tipo_habitacion}} </p>
          <span><i class="fa-solid fa-bed"></i></span>
          
        </div>
        <a [routerLink]="['/reserva/detalle',habitacion.num_habitacion]">
          <div class="card-footer text-center"[ngStyle]="{'background-color':getColorFooter(habitacion.estado)}">
            {{habitacion.estado}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
