.card{
  color: #000000;
  border-radius: 6px;
  transition: 0.4s;
}

.card:hover{
  box-shadow: 1px 5px 5px #00000098;
}

.card-footer{
  text-transform: uppercase;
  border-top: 1px solid #ac46a1;
}
.card-text{
  position: relative;
  align-items: center;
  justify-content: center;
}

p.card-text i{
  position: absolute;
  right: 1.75rem;
  font-size: 2rem;
}
.btn {
  background: #002792e3;
  border-color: #fff;
}
.btn:hover{
  background: #4895ef;
}