<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema Hostería</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/habitaciones"><i class="fa-solid fa-bed"></i> Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/habitacion/form']"><i class="fa-solid fa-plus"></i> Nuevo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"><i class="fa-solid fa-user"></i> Usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>